button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
}
.button {
    border-radius: 100vmax;
    padding: 1.25em 2.5em;
    font-weight: $bold;
    font-size: $fs-btn;
    line-height: 1;
    color: $clr-netural-100;
    background-color: $clr-accent-400;
    box-shadow: 0 1.125em 1em -1em $clr-accent-400;

    &:hover,
    &:focus-visible {
        background-color: $clr-accent-300;
    }

    &[data-type = "inverted"] {
        color: $clr-accent-400;
        background-color: $clr-netural-100;

        &:hover,
        &:focus-visible {
            background-color: $clr-netural-100;
            color: $clr-accent-300;
    }

    }
}
