@font-face {
    font-weight: $reg;
    font-family: $ff;
    src: url('assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Regular.ttf');
}
@font-face {
    font-weight: $med;
    font-family: $ff;
    src: url('assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Medium.ttf');
}
@font-face {
    font-weight: $bol;
    font-family: $ff;
    src: url('assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Bold.ttf');
}
