.text-prim-400 {
    color: $clr-prim-400;
}

.text-accent-400 {
    color: $clr-accent-400;
}

.text-accent-100 {
    color: $clr-accent-100;
}

.text-netural-100 {
    color: $clr-netural-100
}

.text-netural-900 {
    color: $clr-netural-900
}

.bg-prim-400 {
    background-color: $clr-prim-400;
}

.bg-accent-400 {
    background-color: $clr-accent-400;
}

.bg-accent-100 {
    background-color: $clr-accent-100;
}

.bg-netural-100 {
    background-color: $clr-netural-100
}

.bg-netural-900 {
    background-color: $clr-netural-900
}

.fw-bold {
    font-weight: $bol;
}
.fw-med {
    font-weight: $med;
}
.fw-reg {
    font-weight: $reg;
}

.fs-prim-heading {
    font-size: $fs-prim-heading;
}

.fs-sec-heading {
    font-size: $fs-sec-heading;
}

.fs-300 {
    font-size: $fs-300;
}

.fs-400 {
    font-size: $fs-400;
}

.fs-500 {
    font-size: $fs-500;
}

.fs-600 {
    font-size: $fs-600;
}