.text-prim-400 {
    color: $clr-prim-400;
}

.text-accent-400 {
    color: $clr-accent-400;
}

.text-accent-100 {
    color: $clr-accent-100;
}

.text-netural-100 {
    color: $clr-netural-100
}

.text-netural-900 {
    color: $clr-netural-900
}

.bg-prim-400 {
    background-color: $clr-prim-400;
}

.bg-accent-400 {
    background-color: $clr-accent-400;
}

.bg-accent-100 {
    background-color: $clr-accent-100;
}

.bg-netural-100 {
    background-color: $clr-netural-100;
}

.bg-netural-900 {
    background-color: $clr-netural-900;
}

.fw-bold {
    font-weight: $bol;
}
.fw-med {
    font-weight: $med;
}
.fw-reg {
    font-weight: $reg;
}

.fs-prim-heading {
    font-size: $fs-prim-heading;
    line-height: 1.1;
}

.fs-sec-heading {
    font-size: $fs-sec-heading;
    line-height: 1.1;
}

@mixin font-size {
    $font-sizes: $fs-300, $fs-400, $fs-500, $fs-600, $fs-700 ,$fs-800 ,$fs-900;
    $i: 300;
    $j: 1;
    @while $i < 1000 {
        .fs-#{$i} {
            font-size: nth($font-sizes, $j);
        }
        $i: $i + 100;
        $j: $j + 1;
    }
}
@mixin padding-block {
    $sizes: $size-100, $size-200, $size-300, $size-400, $size-500, $size-600, $size-700, $size-800, $size-900;
    $i: 100;
    $j: 1;
    @while $i < 1000 {
        .padding-block-#{$i} {
            $size: nth($sizes, $j);
            padding-top: $size; 
            padding-bottom: $size;
        }
        $i: $i + 100;
        $j: $j + 1;
    }
}
@include font-size;
@include padding-block;

.container {
    $max-width: 1110px;
    $padding: 1rem;

    width: min($max-width, 100% - $padding);
    margin: 0 auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media screen and (min-width: $m-w) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}