//  colors
//  |accent
$clr-accent-100: hsl(12, 100%, 96%);
$clr-accent-200: hsl(12, 88%, 85%);
$clr-accent-300: hsl(12, 88%, 75%);
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-500: hsl(12, 60%, 45%);
$clr-accent-600: hsl(12, 60%, 35%);
$clr-accent-700: hsl(12, 60%, 25%);
$clr-accent-800: hsl(12, 60%, 15%);
$clr-accent-900: hsl(12, 60%, 5%);
//  |prim
$clr-prim-100: hsl(228, 39%, 53%);
$clr-prim-200: hsl(228, 39%, 43%);
$clr-prim-300: hsl(228, 39%, 33%);
$clr-prim-400: hsl(228, 39%, 23%);
$clr-prim-500: hsl(228, 39%, 18%);
$clr-prim-600: hsl(228, 39%, 13%);
$clr-prim-700: hsl(228, 39%, 9%);
$clr-prim-800: hsl(228, 39%, 6%);
$clr-prim-900: hsl(228, 39%, 3%);
//  |netural
$clr-netural-100: hsl(0, 0%, 98%);
$clr-netural-200: hsl(0, 0%, 88%);
$clr-netural-300: hsl(0, 0%, 78%);
$clr-netural-400: hsl(0, 0%, 68%);
$clr-netural-500: hsl(0, 0%, 58%);
$clr-netural-600: hsl(0, 0%, 48%);
$clr-netural-700: hsl(0, 0%, 38%);
$clr-netural-800: hsl(0, 0%, 28%);
$clr-netural-900: hsl(233, 12%, 13%);
//  |other
$dg-blue: hsl(227, 12%, 61%);
//  font-family
$ff: 'Be Vietnam Pro';
//  font weights
$regular: 400;
$medium: 500;
$bold: 700;
//  font sizes
//  Desktop
$fs-100: .5rem;
$fs-200: .75rem;
$fs-300: .8125rem;
$fs-400: .875rem;
$fs-500: .9375rem;
$fs-600: 1rem;
$fs-700: 1.875rem;
$fs-800: 2.5rem;
$fs-900: 3.5rem;
//  components fonts
$fs-body: $fs-400;
$fs-prim-heading: $fs-800;
$fs-sec-heading: $fs-700;
$fs-nav: $fs-500;
$fs-btn: $fs-300;
//  sizes
$size-100: .25rem;
$size-200: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;
$size-900: 5rem;
//  Mobile
$m-w: 50em;
@media screen and (min-width: $m-w) {
    $fs-body: $fs-600;
    $fs-prim-heading: $fs-900;
    $fs-sec-heading: $fs-800;
    $fs-nav: $fs-300;
}
