//  colors
$clr-accent-100: hsl(12, 100%, 96%);
$clr-accent-300: hsl(12, 88%, 75%);
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-500: hsl(12, 60%, 45%);

$clr-prim-400: hsl(228, 39%, 23%);

$dg-blue: hsl(227, 12%, 61%);

$clr-netural-100: hsl(0, 0%, 98%);
$clr-netural-900: hsl(233, 12%, 13%);
//  font-family
$ff: 'Be Vietnam Pro';
//  font weights
$reg: 400;
$med: 500;
$bol: 700;
//  font sizes
//  Desktop 
$fs-300: .8125rem;
$fs-400: .875rem;
$fs-500: .9375rem;
$fs-600: 1rem;
$fs-700: 1.875rem;
$fs-800: 2.5rem;
$fs-900: 3.5rem;


$fs-body: $fs-400;
$fs-prim-heading: $fs-800;
$fs-sec-heading: $fs-700;
$fs-nav: $fs-500;
$fs-btn: $fs-300;
//  sizes
$size-100: .25rem;
$size-200: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;
$size-900: 5rem;
//  Mobile
$m-w: 50em;
@media screen and (min-width: $m-w) {
    $fs-body: $fs-600;
    $fs-prim-heading: $fs-900;
    $fs-sec-heading: $fs-800;
    $fs-nav: $fs-300;
}
