.different-section {
    .section-header {
        margin-bottom: $size-700;
    }
}

.numbered-items {
    counter-reset: count;
}

.numbered-items li {
    counter-increment: count;
}

.numbered-items div {
    display: grid;
    position: relative;
    align-items: center;
    column-gap: $size-400;
    grid-template-columns: min-content 1fr;
}



.numbered-items div p {
    grid-column: 1 / -1;
}

@media screen and (min-width: $m-w) {
    .numbered-items div p {
        grid-column: 2 / -1;
    }
}

.numbered-items div::before{
    content: '0' counter(count);
    display: flex;
    align-items: center;
    background-color: $clr-accent-400;
    color: $clr-netural-100;
    font-weight: $bold;
    
    padding: 0 $size-500;
    border-radius: 100vw;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.numbered-items-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3 ;
    line-height: 1;
}


.numbered-items div::before,
.numbered-items div::after {
    height: 40px;
}

@media screen and (max-width: $m-w) {
    .numbered-items div::after{
        content: '';
        display: block;
        z-index: -1;
        border-radius: 100vw 0 0 100vw;
        inset: 0 -100vw 0 0;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: $clr-accent-100;
        box-shadow: 10em 0 0 $clr-accent-100;
    }
}