.mobile-nav-toogle {
    position: fixed;
    right: $size-400;
    top: $size-700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 18px;
    .line {
        width: 100%;
        height: 3px;

        transition: 0.3s;

        &:nth-child(2) {
            transform-origin: right center;
        }
        &:nth-child(3) {
            transform-origin: left center;
        }

    }
}
.mobile-nav-toogle.open {
    .line {
        &:nth-child(1) {
            transform: translate(0px, 8px) rotate(45deg);
        }
        &:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translate(3px, 2px) rotate(-45deg);
        }
    }
}
      