.prim-header {
    padding-top: $size-700;
    .nav-wrapper {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        .prim-nav {
            .nav-list {
                display: flex;
                gap: clamp($size-200, 5vw, $size-700);
                font-size: $fs-nav;
                & a {
                    text-decoration: none;
                    color: $clr-prim-400;
                    font-weight: $medium;
                    &:hover,
                    &:focus {
                        color: $clr-accent-400;
                    }
                }
            }
        }
        .mobile-nav-toogle {
            display: none;
        }
    }
}



@media screen and (max-width: $m-w) {
    .prim-header {
        &[data-overlay]::before {
            content: '';
            position: fixed;
            inset: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
        .nav-wrapper {
            .prim-nav {
                display: none;
                position: fixed;
                inset: 7rem $size-400 auto;
                max-width: 25rem;
                margin-left: auto;
                background-color: $clr-netural-100;
                border-radius: $size-200;
                box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
        
                padding: $size-700;
                &[data-visible] {
                    display: block;
                }
                .nav-list {
                    display: grid;
                    gap: $size-400;
                    text-align: center;
                    font-weight: $bold;
                }
            }
            .mobile-nav-toogle {
                display: flex;
            }
        }
    }
}
