.prim-header {
    padding-top: $size-700;
    .nav-wrapper {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        .prim-nav {
            .nav-list {
                display: flex;
                gap: clamp($size-200, 5vw, $size-700);
                font-size: $fs-nav;
                & a {
                    text-decoration: none;
                    color: $clr-prim-400;
                    font-weight: $medium;
                    transition: $hover-transition;
                    &:hover,
                    &:focus {
                        color: $clr-accent-400;
                    }
                }
            }
        }
        .mobile-nav-toogle {
            display: none;
            position: fixed;
            right: $size-400;
            top: $size-700;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 25px;
            height: 18px;
            .line {
                width: 100%;
                height: 3px;
        
                transition: 0.3s;
        
                &:nth-child(2) {
                    transform-origin: right center;
                }
                &:nth-child(3) {
                    transform-origin: left center;
                }
            }
            &.open {
                .line {
                    &:nth-child(1) {
                        transform: translate(0px, 8px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translate(3px, 2px) rotate(-45deg);
                    }
                }
            }
        }
    }
}



@media screen and (max-width: $m-w) {
    .prim-header {
        &[data-overlay]::before {
            content: '';
            position: fixed;
            inset: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
            animation: appear $apear-transition;
        }
        .nav-wrapper {
            .prim-nav {
                display: none;
                position: fixed;
                inset: 7rem $size-400 auto;
                max-width: 25rem;
                margin-left: auto;
                background-color: $clr-netural-100;
                border-radius: $size-200;
                box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
        
                padding: $size-700;
                &[data-visible] {
                    display: block;
                    animation: appear $apear-transition;
                }
                .nav-list {
                    display: grid;
                    gap: $size-400;
                    text-align: center;
                    font-weight: $bold;
                }
            }
            .mobile-nav-toogle {
                display: flex;
            }
        }
    }
}
@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
