main
    section.padding-block-900
        div.container
            div.even-columns
                div
                    h1.fs-prim-heading.fw-bold Bring everyone together to build better products.
                    p Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view
                    button.button Get Started
                div
                    img(src="assets/svg/illustration-intro.svg", alt="")
    section.padding-block-900
        div.container
            div.even-columns
                div 
                    h2.fs-sec-heading.fw-bold What`s different about Manage?
                    p Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams. 
                div 
                    ul.numbered-items(role="list")
                        li
                            h3.fs-600.fw-bold Track company-wide progress 
                            p See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
                        li
                            h3.fs-600.fw-bold Advanced built-in reports
                            p Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.
                        li
                            h3.fs-600.fw-bold Everything you need in one place
                            p Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution.
    section.carousel.padding-block-700
        h2.fs-sec-heading.fw-bold What they`ve said
        button.button Get Started
    section.bg-accent-400.text-netural-100.padding-block-700 
        div.container
            div.even-columns 
                div
                    p.fs-sec-heading.fw-bold Simplify how your team works today.
                div 
                    button.button(data-type="inverted") Get Started