nav.prim-nav#primary-navigation
    ul.nav-list(role="list" aria-label="Primary")
        li
            a(href="") Pricing 
        li
            a(href="") Product 
        li
            a(href="") About Us 
        li
            a(href="") Careers
        li
            a(href="") Community