header.prim-header
    div.container
        a(href="#")
            img(src="assets/svg/logo.svg" alt="manage")
        include navigation/toogle.pug
        include navigation/nav.pug
        button.button Get Started