header.prim-header
    div.container
        div.nav-wrapper
            a(href="#")
                img(src="assets/svg/logo.svg" alt="manage")
            include navigation/toogle.pug
            include navigation/nav.pug
            button.button.display-sm-none.display-md-inline-flex Get Started