header.prim-header
    div.container
        a(href="#")
            img(src="assets/svg/logo.svg" alt="manage")
        nav.prim-nav
            ul.nav-list(role="list" aria-label="Primary")
                li
                    a(href="") Pricing 
                li
                    a(href="") Product 
                li
                    a(href="") About Us 
                li
                    a(href="") Careers
                li
                    a(href="") Community
        button.button Get Started