footer.bg-netural-900.text-netural-100.padding-y-700
    div.container
        div.even-columns
            div 
                a(href="#")
                    img(src="assets/svg/logo.svg" alt="manage")
                ul(role="list" aria-label="Social-links")
                    li
                        a(href="#" aria-label="facebook") 
                    li
                        a(href="#" aria-label="youtube")
                    li 
                        a(href="#" aria-label="twitter")
                    li 
                        a(href="#" aria-label="pinterest")
                    li 
                        a(href="#" aria-label="instagram")
            div
                nav.footer-nav 
                    ul(role='list' aria-label="Footer")
                        li
                            a(href="") Home 
                        li
                            a(href="") Pricing 
                        li
                            a(href="") Products
                        li
                            a(href="") About Us
                        li
                            a(href="") Careers 
                        li
                            a(href="") Community 
                        li
                            a(href="") Privacy Policy  
            div
                form(action="")
                    input(type="email")
                    button.button Go 
                    p Copyright 2020. All Rights Reserved