@import './reset.scss';
@import './variables.scss';
@import './maps.scss';
@import './typography.scss';
@import './utility.scss';

body {
    font-size: $fs-body;
    font-family: $ff;
    color: $clr-prim-400;
}

p:not([class]) {
    opacity: 0.7;
    max-width: 32ch;
}

p[data-width="wide"],
p[data-width="wide-1"] {
    max-width: 41ch;
}

@media screen and (max-width: $m-w) {
    p[data-width="wide"] {
        max-width: 100%;
    }  
}

input:where([type="text"], [type="email"]) {
    border-radius: 100vw;
    border: 0;
    padding: $size-300 $size-400;
}
