@font-face {
    font-weight: $regular;
    font-family: $ff;
    src: url('../assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Regular.ttf');
}
@font-face {
    font-weight: $medium;
    font-family: $ff;
    src: url('../assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Medium.ttf');
}
@font-face {
    font-weight: $bold;
    font-family: $ff;
    src: url('../assets/fonts/Be\ Vietnam\ Pro/BeVietnamPro-Bold.ttf');
}
