//  color scheme
@each $list-name, $map in $clrs-maps {
    @each $name, $color in $map {
        .text-#{$name} {
            color: $color;
        }
    }
    @each $name, $color in $map {
        .bg-#{$name} {
            background-color: $color;
        }
    }
}
//  size scheme
@each $name, $f-size in $fs-map {
    .#{$name} {
        font-size: $f-size;
    }
}
@each $name, $size in $sizes-map {
    .padding-y-#{$name} {
        padding-top: $size;
        padding-bottom: $size;
    }
}
@each $name, $size in $sizes-map {
    .padding-x-#{$name} {
        padding-left: $size;
        padding-right: $size;
    }
}
//  flows  
@each $name, $flow in $flow-map {
    .flow-#{$name} > :where( :not(:first-child)) {
        margin-top: $flow;
    }
}
//  f-weights
.fw-bold {
    font-weight: $bold;
}
.fw-med {
    font-weight: $medium;
}
.fw-reg {
    font-weight: $regular;
}
//  extra fs
.fs-prim-heading {
    font-size: $fs-prim-heading;
    line-height: 1.1;
}

.fs-sec-heading {
    font-size: $fs-sec-heading;
    line-height: 1.1;
}
//  container
.container {
    $max-width: 1110px;
    $padding: 1rem;

    width: min($max-width, 100% - $padding);
    margin: 0 auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media screen and (min-width: $m-w) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

//  visually hidden
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
//
.display-sm-none {
    display: none;
}
@media screen and (min-width: $m-w) {
    .display-md-inline-flex {
        display: inline-flex;
    }
}

.justify-self-end  {
    justify-self: end; 
}
.vertical-align-center {
    align-items: center;
}


.cta {
    position: relative;
    isolation: isolate;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: 
            url('../assets/svg/bg-tablet-pattern.svg'),
            url('../assets/svg/bg-tablet-pattern.svg');
        background-position: 15rem -2rem, 76rem -20rem;
        background-repeat: no-repeat;
        background-size: 30rem, 30rem;
        z-index: -1;
        opacity: 0.1;
    }
}

@media screen and (min-width: $m-w) {
    .cta {
        text-align: left;
    }

    .justify-self-end-md  {
        justify-self: end; 
    }
}

.text-center {
    text-align: center;
    
    p {
        margin-inline: auto;
    }
}